.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cross {
  margin-top: 14px;
  margin-left: 496px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1) 0.1);;
}

.modal {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
}

b

.backdrop-text {
  margin-top: 2px;
  margin-left: 41px;
  margin-bottom: 2px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.drop-text {
  margin-top: 10px;
  margin-left: 41px;
  margin-bottom: 4px;
}
