.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*link-style*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: var(--onecolor);
}

/*address-style*/
address {
    font-style: normal;
}

.blockquote,
q {
    quotes: none;
}

.blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}