:root {
    --info-color: #757575;
    --title-color: #FFF;
    --text-color: #000;
    --extra-color: rgba(255, 255, 255, 0.60);
    --onecolor: #2196F3;
    --firstcolor: #212121;
    --codecolor: #F5F4FA;
}

.container {
    padding: 0 15px;
    width: 1200px;
    margin: 0px auto;
}

.mail {
    width: 16px;
    height: 12px;
    fill: var(--info-color);
}

.mail:hover {
    fill: var(--onecolor);
}

.telephone {
    width: 10px;
    height: 16px;
    fill: var(--info-color);
}

.telephone:hover {
    fill: var(--onecolor);
}

.bg-box-2::before {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: block;
    content: url(../fones/time.webp);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.bg-box-1::before {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: block;
    content: url(../fones/antena-2.webp);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.bg-box-3::before {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: block;
    content: url(../fones/notebook.webp);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.bg-box-4::before {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: block;
    content: url(../fones/astro.webp);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.header {
    border: 1px solid var(--hd-border);
    padding-top: 24px;
    padding-bottom: 25px;
}

.weblink {
    color: var(--onecolor);
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    padding-left: 15px;
}

.weblink2 {
    color: var(--text-color);
    margin-right: 93px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-right: 318px;
}

.adres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.header-container {
    display: flex;
}

.header-address {}

.header-s:hover {
    color: var(--onecolor);
}

.header-s {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--info-color);
}

.header-sl:hover {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--onecolor);
}

.header-sl {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--info-color);
}

.header-send:hover {
    color: var(--onecolor);
}

.header-send {
    color: var(--text-color);
    display: flex;
    gap: 50px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../fones/overla.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.hero-title {
    font-weight: 900;
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
}

.hero-button {
    background-color: var(--onecolor);
    color: var(--title-color);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.detail {
    padding-top: 94px;
    padding-bottom: 94px;
}

.detail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detail-item {}

.detail-title {
    width: 240 px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
}

.detail-text {
    width: 270px;
    color: var(--info-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 10px;
    display: block;
}

.progect {
    padding-bottom: 94px;
}

.progect-backet {
    display: flex;
    gap: 30px;
}

.progect-item {}

.progect-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    color: #000;
}

.progect-photo {}


.command {
    background-color: var(--codecolor);
    padding-top: 94px;
    padding-bottom: 94px;
}

.command-l {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.command-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.command-item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.command-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.command-titles {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.command-text {
    color: var(--info-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.icon {
    display: flex;
    gap: 10px;
}

.instagram:hover {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: var(--title-color);
    border-radius: 20px;
    background-color: #2196F3;
}

.twitter:hover {
    width: 20px;
    height: 20px;
    padding: 12px;
    margin-right: 10px;
    fill: var(--title-color);
    border-radius: 20px;
    background-color: #2196F3;
}

.linkedin:hover {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: var(--title-color);
    border-radius: 20px;
    background-color: #2196F3;
}

.facebook:hover {
    width: 20px;
    height: 20px;
    padding: 12px;
    margin-right: 10px;
    fill: var(--title-color);
    border-radius: 20px;
    background-color: #2196F3;
}

.instagram {
    width: 20px;
    height: 20px;
    padding: 12px;
    margin-right: 10px;
    fill: var(--title-color);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.10);
}

.twitter {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: var(--title-color);
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.10);
}

.facebook {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: var(--title-color);
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.10);
}

.fixer {
    display: flex;
    flex-direction: row;
}

.formater {
    display: flex;
    flex-direction: column;
}

.linkedin {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: var(--title-color);
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
}

.icon-ul {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 3px;
}

.cites {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cites-buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.cites-buttons-item {
    width: calc((100%-30px*2)/3);
}

.cites-button {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    background-color: #F5F4FA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
}

.cites-button:hover {
    color: var(--title-color);
    background-color: var(--onecolor);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.cites-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.cites-item:hover {
    border: 1px solid #EEE;
    width: calc((100%-30px*2)/3);
    box-shadow: 1px 1px 1px grey;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.cites-item {
    border: 1px solid #EEE;
    width: calc((100%-30px*2)/3);
    background: #FFF;
}

.cites-title {
    width: 322px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.cites-text {
    width: 322px;
    color: var(--info-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-right: 24px;
}

.cites-photo {}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.footer-list {}

.footer-item {}

.footer-step {}

.footer-sender {
    color: var(--onecolor);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 2.15;
}

.footer-sends {
    color: var(--title-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 2.15;
}

.footer-address {}

.footer-send {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--extra-color);
    margin-bottom: 9px;
}

.footer-sendd {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--extra-color);
}

.footer-sen {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.usually-clients {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.decorate-1 {
    overflow: hidden;
    position: relative;
}

.decorate-photo-2 {
    position: relative;
}

.decorate-2 {
    overflow: hidden;
    position: relative;
}

.decorate-2>.progect-text {
    position: absolute;
    padding-top: 29px;
    bottom: 0px;
    padding-bottom: 29px;
    padding-right: 112px;
    padding-left: 113px;
    margin-top: 224px;
    background: rgba(47, 48, 58, 0.80);

    color: #EEE;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    z-index: 4;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    z-index: 2;
}

.decorate-3 {
    overflow: hidden;
    position: relative;
}

.decorate-3>.progect-text {
    position: absolute;
    padding-top: 29px;
    bottom: 0px;
    padding-bottom: 29px;
    padding-right: 95px;
    padding-left: 94px;
    margin-top: 224px;
    background: rgba(47, 48, 58, 0.80);

    color: #EEE;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    z-index: 4;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    z-index: 2;
}

.decorate-1>.progect-text {
    position: absolute;
    padding-top: 29px;
    bottom: 0px;
    padding-bottom: 29px;
    padding-right: 106px;
    padding-left: 107px;
    margin-top: 224px;
    background: rgba(47, 48, 58, 0.80);

    color: #EEE;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    z-index: 4;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    z-index: 2;
}

.clients {
    padding-top: 94px;
    margin-bottom: 97px;
}

.footer-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-listen {
    margin-left: 70px;
    margin-top: 15px;
}

.client-1 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-2 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;

}

.client-3 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-4 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-5 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-6 {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.client-1:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.client-2:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.client-3:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.client-4:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.client-5:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.client-6:hover {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    fill: #2196F3;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
}

img {
    display: block;
}

