:root {
    --info-color: #757575;
    --title-color: #FFF;
    --text-color: #000;
    --extra-color: rgba(255, 255, 255, 0.60);
    --onecolor: #2196F3;
    --firstcolor: #212121;
    --codecolor: #F5F4FA;
    --firecolor: red;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
    border: 2px solid var(--firecolor);
}

.header {
    border: 1px solid var(--hd-border);
    padding-top: 24px;
    padding-bottom: 25px;
}

.weblink {
    color: var(--onecolor);
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    padding-left: 15px;
}

.weblink2 {
    color: var(--text-color);
    margin-right: 93px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-address {}

.header-s:hover {
    color: var(--onecolor);
}

.header-s {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--info-color);
    margin-right: 50px;
}

.header-sl {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--info-color);
}

.header-send:hover {
    color: var(--onecolor);
}

.header-send {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    padding-right: 50px;
}

.header-sendz {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    padding-right: 344px;
}

.hero {
    background-color: var(--firstcolor);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
}

.hero-button {
    background-color: var(--onecolor);
    color: var(--title-color);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.detail {
    padding-top: 94px;
    padding-bottom: 94px;
}

.detail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detail-item {}

.detail-title {
    width: 240 px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
}

.detail-text {
    width: 270px;
    color: var(--info-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 10px;
    display: block;
}

.progect {
    padding-bottom: 94px;
}

.progect-backet {
    display: flex;
    gap: 30px;
}

.progect-item {}

.progect-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    color: #000;
}

.progect-photo {}


.command {
    background-color: var(--codecolor);
    padding-top: 94px;
    margin-bottom: 94px;
}

.command-l {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.command-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.command-item {
    background-color: var(--title-color);
}

.command-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.command-titles {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.command-text {
    color: var(--info-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.command-photo {}

.cites {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cites-buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.cites-buttons-item {}

.cites-button {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    margin-bottom: 50px;
    background-color: #F5F4FA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
}

.cites-button:hover {
    color: var(--title-color);
    background-color: var(--onecolor);
}

.cites-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cites-item {
    border: 1px solid #EEE;
    width: 370px;
}

.cites-title {
    width: 322px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.cites-text {
    width: 322px;
    color: var(--info-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-right: 24px;
}

.cites-photo {}

.footer {
    background-color: var(--firstcolor);
    margin-top: 60px;
    padding-bottom: 60px;
}

.footer-list {}

.footer-item {}

.footer-step {}

.footer-sender {
    color: var(--onecolor);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 2.15;
}

.footer-sends {
    color: var(--title-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 2.15;
}

.footer-address {}

.footer-send {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--extra-color);
    margin-bottom: 9px;
}

.footer-sendd {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--extra-color);
}

.footer-sen {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}